<?xml version="1.0" encoding="UTF-8"?>
<Server port="8005" shutdown="SHUTDOWN">
     <Listener className="org.apache.catalina.startup.VersionLoggerListener" />

     <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
     <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
     <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
     <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

     <GlobalNamingResources>

          <Resource name="UserDatabase" auth="Container" type="org.apache.catalina.UserDatabase" description="User database that can be updated and saved" factory="org.apache.catalina.users.MemoryUserDatabaseFactory" pathname="conf/tomcat-users.xml" />
          <Resource name="jdbc/NeqsimDataSource" 
          auth="Container" 
          type="javax.sql.DataSource"
          maxActive="100" 
          maxIdle="30" 
          maxWait="10000"
          username="remote" 
          password="remote" 
          driverClassName="com.mysql.jdbc.Driver"
          url="jdbc:mysql://tr-w33:3306/neqsimdatabase"
          />
     </GlobalNamingResources>

     <Service name="Catalina">

          <Connector port="8080" protocol="HTTP/1.1" connectionTimeout="20000" redirectPort="8443" />

          <Connector port="8009" protocol="AJP/1.3" redirectPort="8443" />


          <Engine name="Catalina" defaultHost="localhost">

               <Realm className="org.apache.catalina.realm.LockOutRealm">

                    <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
               </Realm>

               <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">

                    <Valve className="org.apache.catalina.valves.AccessLogValve" directory="/proc/self/fd" prefix="1" suffix="" rotatable="false" pattern="%h %l %u %t &quot;%r&quot; %s %b" />

               </Host>
          </Engine>
     </Service>
</Server>
